html {
  height: 100%;
  margin: 0;
  
  background-image: url('../../public/low-poly-grid-haikei(1).png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--berkshire);
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

body, #root, .App {
  height: 100%;
}

.App {
  padding: 4rem 8rem;
}

