html {
  height: 100%;
  background-image: url("../../public/chineseInkPainting2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: var(--berkshire);
}

body, #root, .App {
  height: 100%;
}

.App {
  padding:2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

