html {
  height: 100%;
  background-image: url("../public/chineseInkPainting2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: var(--berkshire);
}

body, #root, .App {
  height: 100%;
}

.App {
  padding:2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 3rem;
  
}


@keyframes introline {
  0% {
    width: 0rem;
  }
  100% {
    width: 15rem;
  }
}
@keyframes introline-text-and-password {
  0% {
    opacity: 0;
    left: -4rem;
  }
  100% {
    opacity: 1;
    left: 1rem;
  }
}
@keyframes introline-name {
  0% {
    opacity: 0;
    left: 2rem;
  }
  100% {
    opacity: 1;
    left: -6rem;
  }
}
.intro-line {
  height: 0.5rem;
  width: 15rem;
  border-radius: 999px;
  background-color: black;
  animation: introline 1200ms ease-in-out;
  position: relative;
}

.intro-line::before {
  content: "Welcome";
  color: black;
  position: relative;
  left: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  animation: introline-text-and-password 600ms ease-out 1000ms 1 forwards;
  opacity: 0;  
}


.intro-input-name, .intro-input-password {
  border: none;
  outline: none;
  background-color: transparent;
  color: black;
  font-size: 1.25rem;
  font-family: var(--berkshire);
  position: relative;
  width: 7rem;
  opacity: 0;
}

.intro-input-password {
  top: 8rem;
  left: 1rem;
  animation: introline-text-and-password 600ms ease-out 1400ms 1 forwards;
}

.intro-input-name {
  top: 7rem;
  left: -6rem;
  animation: introline-name 600ms ease-out 1800ms 1 forwards;
}